{% extends "base.html" %}
{% block content %}
<p id="page_title"><img class="icon" src="/static/images/laptop.svg"/> {{graph_device}}</p>
<hr/>

<div class="graphdata">

{% for plugin in plugins %}
    <div class="plugin">
        <h3 class="plugin-name">{{ plugin.name }}</h3>
        <table class="plugin-graphs">
            <thead>
              <tr><td>{{ _('Day') }}</td><td>{{ _('Week') }}</td><td>{{ _('Month') }}</td><td>{{ _('Year') }}</td></tr>
            </thead>
            <tbody>
            {% for type_name in plugin.types %}
                <tr>
                    <td class="graphhead" colspan="4">{{type_name|translate(device=graph_device)}}</td>
                </tr>
                <tr>
                    <td class="graphdata">
                        <a href="{{url_for('detail',
                         graph_device=graph_device,
                         graph_plugin=plugin.name,
                         graph_type=type_name,
                         time_from=time_from_day,
                         time_to=time_to)}}">

                            <img src="{{url_for('graphthumb',
                                  graph_devices=graph_device,
                                  graph_plugin=plugin.name,
                                  graph_type=type_name,
                                  time_from=time_from_day,
                                  time_to=time_to)}}"
                             class='graph'/>
                        </a>
                   </td>

                   <td class="graphdata">
                        <a href="{{url_for('detail',
                         graph_device=graph_device,
                         graph_plugin=plugin.name,
                         graph_type=type_name,
                         time_from=time_from_week,
                         time_to=time_to)}}">

                            <img src="{{url_for('graphthumb',
                                  graph_devices=graph_device,
                                  graph_plugin=plugin.name,
                                  graph_type=type_name,
                                  time_from=time_from_week,
                                  time_to=time_to)}}"
                             class='graph'/>
                        </a>
                   </td>

                   <td class="graphdata">
                        <a href="{{url_for('detail',
                         graph_device=graph_device,
                         graph_plugin=plugin.name,
                         graph_type=type_name,
                         time_from=time_from_month,
                         time_to=time_to)}}">

                            <img src="{{url_for('graphthumb',
                                  graph_devices=graph_device,
                                  graph_plugin=plugin.name,
                                  graph_type=type_name,
                                  time_from=time_from_month,
                                  time_to=time_to)}}"
                             class='graph'/>
                        </a>
                   </td>

                   <td class="graphdata">
                        <a href="{{url_for('detail',
                         graph_device=graph_device,
                         graph_plugin=plugin.name,
                         graph_type=type_name,
                         time_from=time_from_year,
                         time_to=time_to)}}">

                            <img src="{{url_for('graphthumb',
                                  graph_devices=graph_device,
                                  graph_plugin=plugin.name,
                                  graph_type=type_name,
                                  time_from=time_from_year,
                                  time_to=time_to)}}"
                             class='graph'/>
                        </a>
                   </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
   {% endfor %}
</div>
{% endblock %}
